img{
    width: 120px;
    height: auto;
    
}
.header {
    display: flex;
    align-items: center;
    background-color: #00559D;
    color: white;
    padding: 1em;
    text-align: left;
}
.header img {
    margin-right: 10px;
}
